@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

:root{
    --roboto : 'Roboto', sans-serif;
    --condensed : 'Roboto Condensed', sans-serif;
}

nav .logo{
    font-family: var(--condensed);
    font-size: 1em;
}
nav{
    font-family: var(--roboto);
}
#banner{
    font-family: var(--condensed);
    letter-spacing: 2px;
    font-weight: bolder;
}
#content{
    font-family: var(--condensed);
    letter-spacing: 1px;
}
.title{
    font-size: 2em;
}
#title{
    font-size: 1em;
}
h6{
    font-size: 1em;
}
.card p{
    font-weight: bolder;
}
footer{
    font-family: var(--roboto);
}
footer .content .title{
    font-size: 1.6em;
}
@media only screen and (max-width:992px){
    h6{
        font-size: 0.9em;
    }
    h4{
        font-size: 0.6em;
    }
    footer .content .title{
        font-size: 1.3em;
    }
    footer p{
        font-size: 0.8em;
    }
}